

<nav class="navbar navbar-default label-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
          <span class="white">
                Choose Widget
          </span>
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left pull-left white"></span>
                </a>
            </div>
        </div>
    </div>
</nav>



<li class="list-group-item">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
            <a ng-click="model.createWidget('HEADING')">
                Header
            </a>
        </div>
        <a href="../website/templates/website-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </div>
</li>

<li class="list-group-item">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
            <a href="../../page/templates/page-list.view.client.html">
                Label
            </a>
        </div>
        <a href="../website/templates/website-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </div>
</li>

<li class="list-group-item">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
            <a href="../../page/templates/page-list.view.client.html">
                HTML
            </a>
        </div>
        <a href="../website/templates/website-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </div>
</li>

<li class="list-group-item">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
            <a href="../../page/templates/page-list.view.client.html">
                Text Input
            </a>
        </div>
        <a href="../website/templates/website-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </div>
</li>

<li class="list-group-item">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
            <a href="../../page/templates/page-list.view.client.html">
                Link
            </a>
        </div>
        <a href="../website/templates/website-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </div>
</li>

<li class="list-group-item">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
            <a href="../../page/templates/page-list.view.client.html">
                Button
            </a>
        </div>
        <a href="../website/templates/website-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </div>
</li>

<li class="list-group-item">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
            <a ng-click="model.createWidget('IMAGE')">
                Image
            </a>
        </div>
        <a href="../website/templates/website-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </div>
</li>

<li class="list-group-item">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
            <a ng-click="model.createWidget('YOUTUBE')">
                Youtube
            </a>
        </div>
        <a href="../website/templates/website-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </div>
</li>

<li class="list-group-item">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
            <a href="../../page/templates/page-list.view.client.html">
                Data Table
            </a>
        </div>
        <a href="../website/templates/website-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </div>
</li>

<li class="list-group-item">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
            <a href="../../page/templates/page-list.view.client.html">
                Repeater
            </a>
        </div>
        <a href="../website/templates/website-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </div>
</li>

</ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom label-primary">
    <div class="col-md-1">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="#!/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user pull-right white entypo-search-3"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>